<ion-modal-view>
      <ion-header-bar>
        <button class="button button-clear icon ion-chevron-left" ng-click="closeToposModalSearchOptions()"></button> 
        <h1 class = "title">Search Options</h1>
<!--       <button class="button button-clear" ng-click="openPopover($event)">Ok</button> -->
      </ion-header-bar>
	
      <ion-content padding="true" scroll="true">
        <ion-item id="searchOptions-markdown4" style="color:#000000;">
            <p>Grades from
                <strong>V{{settings.searchGradeMin}}</strong> to 
                <strong>V{{settings.searchGradeMax}}</strong>
            </p>
        </ion-item>
        <form id="searchOptions-form2" class="list">
            <ion-item class="range range-positive" id="searchOptions-range1">Min
                <input type="range" value="0" min="0" max="16" ng-model="settings.searchGradeMin">
            </ion-item>
            <ion-item class="range range-positive" id="searchOptions-range2">Max
                <input type="range" value="16" min="0" max="16" ng-model="settings.searchGradeMax">
            </ion-item>
        </form>
        <ion-item id="searchOptions-markdown8" style="color:#000000;">
            <p>At a maximum distance of
                <strong>{{settings.searchMaxDistance | distance}}</strong>
            </p>
        </ion-item>
        <form id="searchOptions-form8" class="list">
            <ion-item class="range range-positive" id="searchOptions-range5">Distance
                <input type="range" value="50" min="0" max="100000" ng-model="settings.searchMaxDistance">
            </ion-item>
        </form>
        <form id="searchOptions-form9" class="list">
            <label class="item item-select" id="searchOptions-select2">
                <span class="input-label">Sort by</span>
                <select ng-model="settings.searchOrderBy">
                    <option value={{orderByOptions.grade}}>Grade</option>
<!--                    <option value={{orderByOptions.stars}}>Stars</option>-->
<!--                    <option value={{orderByOptions.age}}>Age</option>-->
                    <option value={{orderByOptions.distance}}>Distance</option>
                    <option value={{orderByOptions.opener}}>Opener</option>
                </select>
            </label>
        </form>
            <div class="spacer" style="width: 300px; height: 58px;"></div>
            <button id="searchOptions-button1" class="button button-assertive  button-block" on-click="resetSettings">Reset Options</button>
          <div class="spacer" style="width: 300px; height: 58px;"></div>
      </ion-content> 

</ion-modal-view>
    
