<ion-modal-view>
      <ion-header-bar>
        <button class="button button-clear icon ion-chevron-left" ng-click="closeNewModal()"></button> 
        <h1 class = "title">{{topo.name}}</h1>
        <button class="button icon ion-edit" ng-click="showTools()"></button> 

      </ion-header-bar>
	
      <ion-content scroll="false" id="iontopocontentmodal" style="background-color:black;">
<!--
<div id="BoulderContainer" style="position:relative; width:100%;">
<img display="block" id="newModalTopoImage" style="opacity:.99;position:absolute;top:0;left:0;width:100%;" ng-src="{{topo.picture}}">
<svg id="newModalTopoSvg" imageid="newModalTopoImage" mode="edit" display="block" preserveAspectRatio="xMidYMid" style="opacity:.99; position:relative;top:0;left:0;width:100%;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" detect-gestures class="disable-user-behavior"></svg>
    </div> 
-->
<div id="bouldercontainer" style="position:relative;width:100%;border: 1px solid red;" ng-click="closeModal()">
<img  id="newModalTopoImage" style="display: block;opacity:.99;position:relative;top:0;left:0;width:100%;height:100%;" ng-src="{{topo.picture}}">
<svg id="newModalTopoSvg" imageid="newModalTopoImage" setsize="true" mode="edit" tool="circle" viewBox="0 0 320 568" display="block" style="opacity:.99;position:absolute;top:0;left:0;width:100%;height:100%;border: 1px solid blue;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" detect-gestures class="disable-user-behavior">
</svg>
    </div>
      </ion-content> 
</ion-modal-view>