<ion-modal-view>
      <ion-header-bar>
        <button class="button button-clear icon ion-chevron-left" ng-click="closeModal()"></button> 
        <h1 class = "title">{{topo.name}}</h1>
      </ion-header-bar>
	
      <ion-content scroll="false" id="iontopocontentmodal" style="background-color:black;">       
            <div id="container2" style="position:relative;width:100%;height:auto;border: 1px solid red;" ng-click="closeModal()">
                <img   id="modalTopoImage" ng-src="{{topo.picture}}" style="display: block;opacity:.99;position:relative;top:0;left:0;width:100%;height:100%;">
                <svg id="modalTopoSvg" imageid="modalTopoImage" mode=""   style="opacity:.99;position:absolute;top:0;left:0;width:100%;height:100%;border: 1px solid blue;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" detect-gestures> <!-- width="320" height="568" viewBox="0 0 320 568">--> 
            </svg>
            </div>
      </ion-content> 

</ion-modal-view>