<ion-view view-title="Draw">
  <!--<ion-content class="padding">-->
      <ion-content scroll="false" id="iontopocontent">
    <div>
          <img id="topoImage" style="opacity:.99; position:absolute; height:100%;"     src="./img/topo0.jpg" alt="Topo" >
          <svg style="opacity:.99; position:absolute;"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  detect-gestures>
          <!--<svg  z-index:"0" opacity:"50" position:"absolute" id="svgOne" class="over" width="100%"  height='100%'  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" detect-gestures>-->
    </div>
  </ion-content>
</ion-view>
