<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Topoist</h2>
    <p>
    An application for climbers to create your own topos and share them with the comunity</a>.
    </p>
    <p>
      This application is currently on development <code>Version 0.1.1</code>
    </p>
    <p>
    If you want to share your opinion or make any suggestions, please send an email to <a href="mailto:carloswestman@gmail.com">carloswestman@gmail.com</a>
    </p>
  </ion-content>
</ion-view>
