<ion-view view-title="My Boulders">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear icon ion-toggle" ng-click="openToposModalSearchOptions()"></button>
        <a class="button button-clear icon ion-plus-round" href="#/tab/newTopo"></a>
    </ion-nav-buttons>
  
    <ion-content>
      <ion-refresher on-refresh="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>  
        
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="topo in topos | filter:search |orderBy:orderBySetting:true" type="item-text-wrap" href="#/tab/topos/{{topo._id}}">
        <img ng-src="{{topo.picture}}">
        <h2>V{{topo.grade}}{{topo.name | BoulderNameWithComma}}</h2> 
          <p>{{topo.distance | distance}}</p>
          <p>{{topo.ownerName}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(topo)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
