<ion-view view-title="Account">
  <ion-content>    
    <ion-list>
        <ion-item class="item item-avatar" href="#">
      <img ng-src="{{user.photoURL}}">
      <h2>{{user.name}}</h2>
      <p>{{user.email}}</p>
    </ion-item>
    </ion-list>
    
<!--    <button class="button button-full button-positive" ng-click="login()">Login with Facebook</button>  -->
    <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">Login with Facebook</a> 
    <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">Log Out</a>
  </ion-content>
</ion-view>
