<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.carloswestman.boulderer" 
        version="1" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0"
        versionCode = "1">
  <name>Boulderer</name>
  <description>
        A boudering social app
    </description>
  <author email="carloswestman@gmail.com" href="http://example.com.com/">
      Carlos Westman
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
    
    <!-- Images -->
    <!-- File names directly match those created by PhoneGap/Cordova Image Generator -->
    <!-- The only images provided by the template are icon and splash with the PhoneGap Build logo -->
    <!-- Preferably don't use splash screens with Android -->

    <icon src="icon.png" />
    <gap:splash src="splash.png" />

    <icon gap:platform="ios" src="res/icons/ios/icon-small.png" width="29" height="29" />
    <icon gap:platform="ios" src="res/icons/ios/icon-small-2x.png" width="58" height="58" />
    <icon gap:platform="ios" src="res/icons/ios/icon-40.png" width="40" height="40" />
    <icon gap:platform="ios" src="res/icons/ios/icon-40-2x.png" width="80" height="80" />
    <icon gap:platform="ios" src="res/icons/ios/icon-50.png" width="50" height="50" />
    <icon gap:platform="ios" src="res/icons/ios/icon-50-2x.png" width="100" height="100" />
    <icon gap:platform="ios" src="res/icons/ios/icon.png" width="57" height="57" />
    <icon gap:platform="ios" src="res/icons/ios/icon-2x.png" width="114" height="114" />
    <icon gap:platform="ios" src="res/icons/ios/icon-60.png" width="60" height="60" />
    <icon gap:platform="ios" src="res/icons/ios/icon-60-2x.png" width="120" height="120" />
    <icon gap:platform="ios" src="res/icons/ios/icon-60-3x.png" width="180" height="180" />
    <icon gap:platform="ios" src="res/icons/ios/icon-72.png" width="72" height="72" />
    <icon gap:platform="ios" src="res/icons/ios/icon-72-2x.png" width="144" height="144" />
    <icon gap:platform="ios" src="res/icons/ios/icon-76.png" width="76" height="76" />
    <icon gap:platform="ios" src="res/icons/ios/icon-76-2x.png" width="152" height="152" />

    <gap:splash gap:platform="ios" src="res/screens/ios/screen-iphone-portrait.png" width="320" height="480" />
    <gap:splash gap:platform="ios" src="res/screens/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
    <gap:splash gap:platform="ios" src="res/screens/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
    <gap:splash gap:platform="ios" src="res/screens/ios/screen-iphone-portrait-667h.png" width="750" height="1334" />
    <gap:splash gap:platform="ios" src="res/screens/ios/screen-iphone-portrait-736h.png" width="1242" height="2208" />
    <gap:splash gap:platform="ios" src="res/screens/ios/screen-ipad-portrait.png" width="768" height="1024" />
    <gap:splash gap:platform="ios" src="res/screens/ios/screen-ipad-portrait-2x.png" width="1536" height="2048" />

    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png"/>
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png"/>
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png"/>
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png"/>
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png"/>
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png"/>

    <gap:splash gap:platform="android" gap:qualifier="ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />


    <!-- Plugins -->

    <!-- Core plugins -->
    <gap:plugin name="org.apache.cordova.camera" spec="https://github.com/apache/cordova-plugin-camera.git"/>
    <gap:plugin name="org.apache.cordova.file-transfer" spec="https://github.com/apache/cordova-plugin-file-transfer" />
    <plugin spec="https://github.com/jeduan/cordova-plugin-facebook4">
        <param name="APP_ID" value="742128822593693" />
        <param name="APP_NAME" value="Topoist" />
    </plugin>
    <plugin name="cordova-plugin-geolocation" spec="1.0.1" source="pgb" />
    <plugin name="cordova-plugin-mapbox">
      <param name="ACCESS_TOKEN" value="sk.eyJ1IjoiY2FybG9zd2VzdG1hbiIsImEiOiJjaXVhN214ZXYwMDFkMnlueTQ4b2QwOG56In0.tZe3UiN6p53E69e9BNoBxg" />
    </plugin>

    <!--<gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>-->
</widget>